@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');


/* VARIABLES */
:root {
    /* colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisO: #666;
    --grisC: #ebebeb;
    --verde: #39b54a;
    /* fuentes */
    --fuente: 'Roboto', sans-serif;
    /* tamaño fuente */
    --parrafos: 12px;
    --titulo: 24px;
    --precio: 18px;
    --descuentos: 16px;
    --descripcciones: 16px;
}


/* GENERALES */
* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: var(--parrafos);
}

body {
    background-color: var(--grisC);
}

img {
    width: 100%;
}

/* HEADER */

header {
    background-color: var(--amarillo);
    padding: 25px 0;
}

header div.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:nowrap;
}

header div div.logo {
    width: 50%;
}

header div div.busqueda {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    border: none;
    padding: 6px;
}

header div div.busqueda input {
    width: 80%;
    max-height: 36px;
}

header div div.busqueda button {
    width: 20%;
    max-width: 36px;
    max-height: 36px;
    border: none;
    padding: 10px;
    text-align: center;
}

header p {
    text-align: center;
    margin-bottom: 15px;
}

header nav {
    display: none;
}

header nav ul.lista-superior {
    margin-bottom: 15px;
}

header nav ul li a {
    font-size: var(--parrafos);
}

header div.burger-menu {
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
    width: 30px;
    padding: 7px;
    /* cuando margin tiene dos valores, el izq es top-bottom,
    el der es left-right */
    /* 3 valores, top (right-left) bottom */
    /* 4 valores top right bottom left */
    margin: 25px auto 0;
    text-align: center;
}

/* SECCIONES */

main.home__productos {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main section article.seccion__productos--tarjetas {
    padding: 5px;
    max-width: 320px;
    display: inline-block;
}

main section article div.descripcion {
    border-top: 1px solid var(--grisC);
    padding: 15px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

main section article div i {
    color: var(--verde);
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    font-size: 16px;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: -15px;
    width: 30px;
    height: 30px;
}

main section article div p {
    font-size: var(--precio);
}

main section article div p.precio {
    display: block;
    width: 30%;
}

main section article div p.descuento {
    display: block;
    width: 70%;
    color: var(--verde)
}

main section article h5 {
    font-size: var(--descripcciones);
}


/* FOOTER */

footer {
    padding: 50px 10px 10px;
    background-color: white;
}

footer article {
    text-align: center;
    margin-bottom: 50px;
}

footer article i {
    /* el size "em" es una medida relativa */
    font-size: 2em;
    color: var(--celeste);
    margin-bottom: 10px;
}

footer span {
    font-size: var(--parrafos);
}


@media (min-width: 361px) {
    header nav {
        display: flex;
        justify-content: space-between;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0 2rem;
    }

    header div.burger-menu {
        display: none;
    }

    main section article div {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section article h5 {
        display: flex;
    }
}